html, body {
    margin: 0;
    height: 100%;
    background-color: #2c2c31;
}


.buttonMenu{
	text-decoration: none;
	color: rgb(170, 102, 90);
	margin: 0.5em;
}

.buttonMenu:hover{
	text-decoration: none;
	transition: all 1s;
	color: #b2b2ca;
}


td, th{
	text-align: center;
}

.center{
	display: contents;
}

.centerPic{
	justify-content: center;
	align-items: center;
}

.white{
	color: white;
}

.flex{
	display: flex;
	flex-direction: row;
}

.input-group-text{
	width: 100%;
}

.w-35{
	width: 35%;
}

.fixed{
	padding: 0.5em 3.2em;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-end{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.loginImg{
	background-color: rgb(131, 5, 33);
	border-radius: 2px;
}

.registerNote{
	color: rgb(107, 107, 107);
}

.hidden{
	visibility: hidden;
	display: none;
  }

.full{
	width: 90%;
	height: 90%;
}

.imgStyle{
	font-size: 10em;
}

.card2{
	border-radius: 0.50rem;
	color: rgb(247, 247, 247);
	transition: all 1;
	background-color: rgb(14, 13, 27);
}

.card2:hover{
	background-color: white;
	transition: all 0.5s;
}

.card2.bg-1:hover{
	color:  rgb(17, 148, 180);
}
.card2.bg-2:hover{
	color:  rgb(170, 27, 115);
}
.card2.bg-3:hover{
	color:  rgb(17, 180, 44);
}
.card2.bg-4:hover{
	color:  rgb(179, 28, 28);
}

.msg-danger{
	color: rgb(243, 36, 36);
	font-size: 1.5em;
	font-style: italic;
}


