<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<meta charset="UTF-8">
	<title>Administrador</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{/css/main.css}">
	<link rel="stylesheet" type="text/css" href="../../static/css/main.css">
</head>
<body>
	<th:block th:include="/menuadmin"></th:block>
	<div class="container">
		<div class="row">


			<div class="card2 bg-1 col m-2" style="height: 44vh; width: 44vw;" onclick="location.href='/administarUsuario'">
				<h3 class="card-header">Administrar cuentas</h3>
				<div class="container-fluid flex-center full">
					<i class="fas fa-users imgStyle"></i>
				</div>
			</div>


			<div class="card2 bg-2 col mt-2 mr-2 mb-2" style="height: 44vh; width: 44vw;" onclick="location.href='/ingresarMateria'">
				<h3 class="card-header">Ingresar una nueva materia</h3>
					<div class="container-fluid flex-center full">
						<i class="fas fa-edit imgStyle"></i>
					</div>
			</div>


			<div class="w-100"></div>


			<div class="card2 bg-3 mb-3 col mb-2 ml-2 mr-2" style="height: 44vh; width: 44vw;" onclick="location.href='/materiasLista'">
				<h3 class="card-header">Lista de materias</h3>
				<div class="container-fluid flex-center full">
					<i class="fas fa-th-list imgStyle"></i>
				</div>
			</div>


			<div class="card2 bg-4 mb-3 col mb-2 mr-2" style="height: 44vh; width: 44vw;" onclick="location.href='/logout'">
				<h3 class="card-header">Cerrar sesion</h3>
				<div class="container-fluid flex-center full">
					<i class="fas fa-sign-out-alt imgStyle"></i>
				</div>
			</div>


		</div>
	</div>
</body>
</html>