<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 		<title>Administrador</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
	    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/main.css}">
</head>
<body>
	<div class="barMenu">
      	<div class="barMenuHead">
      		<a class="buttonMenu" href="/admin">Nazarick</a>
      	</div>
      	<div class="barMenuElements">
      		<a class="buttonMenu" href="ingresarMateria">Agregar materias</a>
			<a class="buttonMenu" href="/materiasLista">Materias</a>
      		<a class="buttonMenu" href="logout">Salir</a>
      	</div>
      </div> 
</body>
</html>