<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nueva Instiitucion</title>
    <th:block th:include="/header"></th:block>
</head>

<body>
    <th:block th:include="/menuadmin"></th:block>
    <div class="container">
        <div class="container row m-4 p-3">
            <div class="col"></div>
            <div class="col-8">
                <div class="card text-white bg-dark col p-3 m-2">
                    <h3 class="card-header"> Editar Institucion </h3>
                    <div class="card-body">
                        <form th:action="@{/validarIngresarInstitucion}" th:object="${institucion}" method="post">
                            <p th:text="${message}" style="color:red"></p>

                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend w-35">
                                        <div class="input-group-text">Nombre</div>
                                    </div>
                                    <input class="form-control" th:field="*{codigo}" type="hidden" name="codigo"
                                        value="${id}">

                                    <input class="form-control" th:field="*{nombre}" type="text" name="nombre"
                                        placeholder="Nombre de Institucion">
                                </div>
                                <span th:errors="*{nombre}" class="input-group-text"></span>
                            </div>

                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend w-35">
                                        <div class="input-group-text">Descripcion</div>
                                    </div>

                                    <textarea class="form-control" th:field="*{descripcion}" name="descripcion"
                                        placeholder="Descripcion de la Institucion"></textarea>
                                </div>
                                <span th:errors="*{descripcion}" class="input-group-text"></span>
                            </div>

                            <div class="input-group mb-2">
                                <div class="input-group-prepend w-35">
                                    <div class="input-group-text">Departamento</div>
                                </div>
                                <select class="form-control" th:field="*{dpto.codigo}" id="categoriaBox">
                                    <option th:each="dpto: ${dptos}" th:value="${dpto.codigo}" th:text="${dpto.nombre}">
                                    </option>
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend w-35">
                                    <div class="input-group-text">Municipio</div>
                                </div>
                                <select class="form-control" th:field="*{municipio.codigo}" id="categoriaBox2">
                                    <option th:each="dpto: ${municipios}" th:value="${dpto.codigo}"
                                        th:departamento="${dpto.dpto.codigo}" th:text="${dpto.nombre}">
                                    </option>
                                </select>
                            </div>

                            <div class="container flex mt-4">
                                <div class="col">
                                    <input class="btn btn-success form-control" type="submit"
                                        value="Guardar Institucion">
                                </div>
                                <div class="col">
                                    <a href="/institucionLista"
                                        class="btn btn-danger form-control text-white">Cancelar</a>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <!-- Trigger/Open The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content w-75">
                <span class="close end">&times;</span>
                <h4 class="mb-4 font-white">Guardado con exito!</h4>
                <div class="container w-75 p-4 mt-4">
                    <a href="/userInfo" class="btn btn-success form-control text-white w-100 mb-3">Inicio <i
                            class="fa fa-user"></i></a>
                    </button>
                    <a class="btn btn-primary form-control text-white w-100 mb-3" onclick="location.href='/institucionLista'">Ver
                        Instituciones<i class="fas fa-info-circle"></i></a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">


        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];

        modal.style.display = "block";

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }


        var municipios = document.getElementById('categoriaBox2');
        var municipiosList = [];

        for (var i = 0; i < municipios.childElementCount; i++) {
            var listaAux = [];
            listaAux.push(municipios.options[i].value);
            listaAux.push(municipios.options[i].getAttribute("departamento"));
            listaAux.push(municipios.options[i].text);
            municipiosList.push(listaAux);
        }

        var departamentos = document.getElementById('categoriaBox');
        var departamentosValue = document.getElementById('categoriaBox').value;
        var MunicipiosFiltrados = listaFiltrada(departamentosValue, municipiosList);
        rebuildSelect(MunicipiosFiltrados);


        departamentos.onchange = function municipiosAccess() {
            var departamentosValue = document.getElementById('categoriaBox').value;
            var MunicipiosFiltrados = listaFiltrada(departamentosValue, municipiosList);
            rebuildSelect(MunicipiosFiltrados);
        }

        function listaFiltrada(value, data) {
            var filtraData = []
            for (var i = 0; i < data.length; i++) {
                if (value == data[i][1]) {
                    filtraData.push(data[i]);
                }
            }
            return filtraData;
        }

        function rebuildSelect(data) {
            var select = document.getElementById('categoriaBox2');
            select.innerHTML = '';
            for (var i = 0; i < data.length; i++) {
                var option = `
                    <option  value="${data[i][0]}" departamento="${data[i][1]}">${data[i][2]}</option>
            `
                select.innerHTML += option;
            }
        }
    </script>
</body>

</html>