<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Editar materia</title>
	<th:block th:include="/header"></th:block>
</head>

<body>
	<th:block th:include="/menuadmin"></th:block>
	<div class="container">
		<div class="container row m-4 p-3">
			<div class="col"></div>
			<div class="col-8">
				<div class="card text-white bg-dark col p-3 m-2">
					<h3 class="card-header"> EDITAR MATERIA </h3>
					<div class="card-body">
						<form th:action="@{/updateMateria}" th:object="${materia}" method="post">
							<div class="input-group mb-2">
								<div class="input-group-prepend w-35">
									<div class="input-group-text">Codigo</div>
								</div>
								<span th:errors="*{codigo}" style="color:red;"></span>
								<input class="form-control" th:field="*{codigo}" type="text" name="codigo"
									placeholder="Codigo de materia">
							</div>

							<div class="input-group mb-2">
								<div class="input-group-prepend w-35">
									<div class="input-group-text">Nombre</div>
								</div>
								<span th:errors="*{nombreMateria}" style="color:red;"></span>
								<input class="form-control" th:field="*{nombreMateria}" type="text" name="materia"
									placeholder="Nombre de la Materia">
							</div>

							<div class="input-group mb-2">
								<div class="input-group-prepend w-35">
									<div class="input-group-text">Descripcion</div>
								</div>
								<span th:errors="*{descripcion}" style="color:red;"></span>
								<textarea class="form-control" th:field="*{descripcion}" name="descripcion"
									placeholder="Descripcion de la Materia"></textarea>
							</div>

							<div class="input-group mb-2">
								<div class="input-group-prepend w-35">
									<div class="input-group-text">Estado</div>
								</div>
								<select class="form-control" name="estado">
									<option th:value="Activa" th:text="Activa">
									</option>
									<option th:value="Inactiva" th:text="Inactiva">
									</option>
								</select>
							</div>

							<div class="container flex mt-4">
								<div class="col">
									<input class="btn btn-success form-control" type="submit" value="Guardar materia">
								</div>
								<div class="col">
									<a href="/admin" class="btn btn-danger form-control text-white">Cancelar</a>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col"></div>
		</div>
	</div>

	

</body>

</html>