<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Administrar Usuario</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
    <th:block th:include="/menuadmin"></th:block>

    <div class="container p-3">
		<table class="table table-sm table-dark  table-hover table-condensed">
			<thead>
                
                <th scope="col">Codigo</th>
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Direccion</th>
                <th scope="col">Edad</th>
                <th scope="col">Departamento</th>
                <th scope="col">Municipio</th>
                <th scope="col">Accion</th>
            </thead>

        <th:block th:each="e, row: ${userList}">
            <tr>
                <td th:text="${e.userId}" name="codigo" th:value="${e.userId}"  />
                <td th:text="${e.userName}"/>
                <td th:text="${e.user.nombre}"/>
                <td th:text="${e.user.apellido}"/>
                <td th:text="${e.user.direccion}"/>
                <td th:text="${e.user.edad}"/>
                <td th:text="${e.user.dpto.nombre}"/>
                <td th:text="${e.user.municipio.nombre}"/>
                <td>
                    <form  th:if="${e.enabled}"  th:action="@{/usuarioDesactive}" th:method="post">
                        <input type="hidden" name="disable" th:value="${e.userName}"/>
                        <button type="submit" class="btn btn-success">Habilitado
                        </button>
                    </form>
                    <form  th:if="${!e.enabled}"  th:action="@{/usuarioActive}" th:method="post">
                        <input type="hidden" name="enabled" th:value="${e.userName}"/>
                        <button type="submit" class="btn btn-danger">Deshabilitado
                        </button>
                    </form>
                </td>
            </tr>
        </th:block>


    </table>
</div>
</body>
</html>