<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coordinador</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/main.css}">
</head>
<body>

<div class="wrap-contact100">
    <table class="table table-sm table-dark">
        <thead>
        <th scope="col">Accion</th>
        <th scope="col">Codigo</th>
        <th scope="col">Usuario</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Direccion</th>
        <th scope="col">Edad</th>
        <th scope="col">Departamento</th>
        <th scope="col">Municipio</th>
        </thead>

        <th:block th:each="e, row: ${userList}">
            <tr>
                <td>

                    <form  th:if="${e.user.enabled}"  th:action="@{/usuarioDesactive}" th:method="post">
                        <input type="hidden" name="disable" th:value="${e.user.userName}"/>
                        <button type="submit" class="btn btn-danger">Desabilitar <i class="fa fa-trash"></i>
                        </button>
                    </form>
                    <form  th:if="${!e.user.enabled}"  th:action="@{/usuarioActive}" th:method="post">
                        <input type="hidden" name="enabled" th:value="${e.user.userName}"/>
                        <button type="submit" class="btn btn-danger">Habilitar <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
                <td th:text="${e.user.userId}" name="codigo" th:value="${e.user.userId}"  />
                <td th:text="${e.user.userName}"/>
                <td th:text="${e.userExp.nombre}"/>
                <td th:text="${e.userExp.apellido}"/>
                <td th:text="${e.userExp.direccion}"/>
                <td th:text="${e.userExp.edad}"/>
                <td th:text="${e.dpto}"/>
                <td th:text="${e.muny}"/>

            </tr>
        </th:block>


    </table>
</div>
</body>
</html>