<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form method="post" th:action="@{/guardarExpediente}" th:object="${expediente}">
		<h1>Nuevo Expediente</h1>
		
		<h3>Nombre: 
			<input type="text" id="s_nombre" th:field="*{s_nombre}" ></h3>
		<span th:errors="*{s_nombre}" style="color:red;"></span>
		<br>
					
		<h3>Apellido: 
			<input type="text" id="s_apellido" th:field="*{s_apellido}" ></h3>
			<span th:errors="*{s_apellido}" style="color:red;"></span>
		<br>
			
		<h3>Carnet de Minoridad: <input type="text" id="s_carne" th:field="*{s_carne}" ></h3>
					<span th:errors="*{s_carne}" style="color:red;"></span>
		<br>
		
		<h3>Fecha nacimiento:<input id="fnacimiento" type="date" th:field="*{fnacimiento}" > </h3>
					<span th:errors="*{fnacimiento}" style="color:red;"></span>
		<br>
		
		<h3>Edad: </h3>
		
		<h3>Direccion de vivienda: 
			<input type="text" id="s_direccion" th:field="*{s_direccion}" ></h3>
					<span th:errors="*{s_direccion}" style="color:red;"></span>
		<br>
		
		<h3>Telefono fijo:
			 <input type="text" id="s_telefonof" th:field="*{s_telefonof}" ></h3>
					<span th:errors="*{s_telefonof}" style="color:red;"></span>
		<br>
		
		<h3>Telefono Movil: <input type="text" id="s_telefonom" th:field="*{s_telefonom}" ></h3>
					<span th:errors="*{s_telefonom}" style="color:red;"></span><br>
					
		<h3>Nombre Institucion: <input type="text" id="institucion" th:field="*{s_institucion}" ></h3>			
		<span th:errors="*{s_institucion}" style="color:red;"></span><br>
		
		<h3>Nombre padre: <input type="text" id="nombrePadre" th:field="*{s_nombrePadre}" ></h3>
					<span th:errors="*{s_nombrePadre}" style="color:red;"></span><br>
		
		<h3>Nombre madre: <input type="text" id="nombreMadre" th:field="*{s_nombreMadre}" ></h3>
					<span th:errors="*{s_nombreMadre}" style="color:red;"></span><br>
	
		<input type="submit" value="Guardar">
		
	</form>	
</body>
</html>