<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Acceso denegado</title>
	<th:block th:include="/header"></th:block>
</head>
 
<body>
    <th:block th:include="/menu"></th:block>
    <div class="container-fluid flex-column h-100">
        <div class="container flex-column card bg-dark p-4 h-75">
            <h6 class="msg-danger">No tienes autorizacion para entrar a esta pagina</h6>
            <br>
            <img alt="" src="img/fail/Overlord.jpg">
            <br>
            <h6 class="msg-danger">"Nadie entra sin permiso en la Gran Tumba de Nazarick"</h6>
        </div>
        
    </div>  
</body>
 
</html>