<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Acceso denegado</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/main.css}">
</head>
 
<body>
    <div class="barMenu">
      	<div class="barMenuHead">
      		<a class="buttonMenu" href="/">Nazarick</a>
      	</div>
      	<div class="barMenuElements">
      		<a class="buttonMenu" href="userInfo">Coordinador</a>
      		<a class="buttonMenu" href="admin">Administrador</a>
      	</div>
     </div>
    <h3 th:if="${message != null}" th:utext="${message}" style="color: red;"></h3>
    <img alt="" src="img/fail/overlord.jpg">
    <h4 style=" font-style: italic; text-align: center;">"Nadie entra sin permiso en la Gran Tumba de Nazarick"</h4>

    
     
</body>
 
</html>