<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Tempest</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>
	<th:block th:include="/menu"></th:block>
	<h1 th:text="${message}"></h1>
	<div class="container-fluid">
		<div class="container container-min">
			<div class="row flex-center">
				<div class="col"></div>
				<div class="col-xl-4 col-md-8 col-sm-10 col-12 m-4">
					<div class="loginImg" style="height: 50vh;"></div>
					<div class="card bg-dark p-3">
						<div th:if="${#request.getParameter('error') == 'true'}"
							style="color:red;margin:10px 0px;">
							Hubo un error en el inicio de sesion<br />
							debido a:
							<span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
							th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message }">
								Static summary
							</span>
						</div>  
						<form class="form"  name='f' th:action="@{/j_spring_security_check}" method='POST'>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"><i class="fas fa-user"></i></div>
								</div>
								<input type='text' class="form-control" placeholder="Nombre de usuario"  name='username' value=''>
							</div>
				
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"><i class="fas fa-key"></i></div>
								</div>
								<input type='password' class="form-control" placeholder="Contrasenia" name='password' />
							</div>
							<div class="flex-end mt-2 mb-2">
								<button type="submit" class="btn btn-danger"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
							</div>
							<div class="flex-center">
								<p class="registerNote">No tienes cuenta?<a class="buttonMenu" href="registrarUsuario" >Registrate</a> </p>
							</div>
						</form>
					</div>
				</div>
				<div class="col"></div>
			</div>
		</div>
	</div>
	
</body>
    
</html>