<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:include="/header"></th:block>
	<title>Tempest</title>
</head>

<body>
	<th:block th:include="/menu"></th:block>
	<div class="container-fluid">
		<div class="container-fluid container-min">
			<div class="row flex-center">
				<div class="col-xl-4 col-md-8 m-4">
					<div class="loginImg" style="height: 50vh;"></div>
					<div class="card bg-dark p-3">
						<div th:if="${#request.getParameter('error') == 'true'}"
							class="text-white errorText mb-2">
							Hubo un error en el inicio de sesion <br>
							<span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
							th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message }">
								Static summary
							</span>
							<h5 class="text-white" th:text="${message}"></h5>
						</div>  
						<form class="form"  name='f' th:action="@{/j_spring_security_check}" method='POST'>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"><i class="fas fa-user"></i></div>
								</div>
								<input type='text' class="form-control" placeholder="Nombre de usuario"  name='username' value=''>
							</div>
				
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<div class="input-group-text"><i class="fas fa-key"></i></div>
								</div>
								<input type='password' class="form-control" placeholder="Contrasenia" name='password' />
							</div>
							<div class="flex-end mt-2 mb-2">
								<button type="submit" class="btn btn-danger"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
							</div>
							<div class="flex-center">
								<p class="registerNote">No tienes cuenta?<a class="buttonMenu" href="registrarUsuario" >Registrate</a> </p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
    
</html>