<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
	    <title>Login</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
	    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/main.css}">
   </head>
   <body class="tumbaNazarik">
   <th:block th:include="menu"></th:block>
      <div class="modal-dialog text-center">
      		<div class="col-sm-8 main-section">
           		 <div class="modal-content">
            		<div class="col-12 user-img">
                    	<img src="static/img/user.png" th:src="@{/img/user.png}"/>
                	</div>
				          <div th:if="${#request.getParameter('error') == 'true'}" style="color:red;margin:10px 0px;">
				         Login Failed!!!<br/>
				         Reason :
				         <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}">
				                Static summary
				         </span>
				            
				      </div>				       
				      <form class="col-12"  name='f' th:action="@{/validarRegistrarUsuario}" th:object="${userNewExp}"   method='POST'>
						  <!--span th:object="${userNewExp}"-->
				      		<div class="form-group" id="user-group">
								<p th:text="${message}" style="color:red"></p>
	                        	<input type='text' class="form-control"  th:field="${userNew.userName}" placeholder="Nombre de usuario"  name='username' value=''>
								<span th:errors="${userNew.userName}" style="color:red;"></span><br>
	                    	</div>
	                    	<div class="form-group" id="contrasena-group">
		                        <input type='password' class="form-control" th:field="${userNew.encrytedPassword}" placeholder="Contrasenia" name='password' />
								<span  th:errors="${userNew.encrytedPassword}" style="color:red;"></span><br>
		                    </div>

						  	<!-- Expediente -->

							<div class="form-group">
								<input type='text' class="form-control"  th:field="${userNewExp.apellido}" placeholder="Apellido"  name='apellido' value=''>
								<span th:errors="${userNewExp.apellido}" style="color:red;"></span><br>
							</div>
						    <div class="form-group">
							  <input type='text' class="form-control"  th:field="${userNewExp.direccion}" placeholder="direccion"  name='direccion' value=''>
							  <span th:errors="${userNewExp.direccion}" style="color:red;"></span><br>
						    </div>

							  <div class="form-group">
								<input type='text' class="form-control"  th:field="${userNewExp.nombre}" placeholder="Nombre"  name='NombrePropio' value=''>
								<span th:errors="${userNewExp.nombre}" style="color:red;"></span><br>
							</div>


						  <div class="form-group">
							  <h3>Fecha nacimiento:<input id="fnacimiento" type="date" th:field="${userNewExp.fnacimiento}"value="2000-01-01" > </h3>
							  <span th:errors="${userNewExp.fnacimiento}" style="color:red;"></span><br>
							</div>


						  <div class="form-group">
						  <label for="categoriaBox">Departamento</label>
						  <select th:field="${userNewExp.dpto.codigo}" id="categoriaBox">
							  <option th:each ="dpto: ${dptos}" th:value="${dpto.codigo}"
									  th:text ="${dpto.nombre}">
							  </option>
						  </select>
						  </div>

						  <div class="form-group">
							  <label for="categoriaBox2">Municipio</label>
							  <select th:field="${userNewExp.municipio.codigo}" id="categoriaBox2">
								  <option th:each ="dpto: ${municipios}" th:value="${dpto.codigo}"
										  th:text ="${dpto.nombre}">
								  </option>
							  </select>
						  </div>

		                    <select class="form-control" name="role">
		                    	<option th:value="2" th:text ="Coordinador"></option>
								<option th:value="1" th:text ="Administrador"></option>
							</select>

		                    <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Crear Cuenta </button>

				      </form>

				      <br> 
	            </div>
	        </div>
	    </div>
   </body>
    
</html>

