<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >

<head>
	<title>Agregar materia</title>
	<th:block th:include="/header"></th:block>
</head>

<body>
	<th:block th:include="/menucoordinador"></th:block>
	
	<div class="container">
		<div class="container row m-4 p-3">
			<div class="col"></div>
				<div class="col-8">
					<div:block th:each="e, row: ${expedientes}" class="flex mt-3 mb-3 m-2">
					<form class="form-inline center" th:action="@{/cursadas}" th:method="post">
						<input type="hidden" name="id" th:value="${e.codigo}" />
						<button type="submit" class="btn btn-primary form-control col-3 mr-2">Regresar</button>
					</form>
				</div:block>
				<div class="card text-white bg-dark col p-3 m-2">
					<h3 class="card-header"> NUEVA MATERIA </h3>
					<div class="card-body">
						<form method="post" th:action="@{/guardarExpedientemateria}" th:object="${alumnoxmateria}">
							<div class="input-group mb-2">
								<div class="input-group-prepend w-25">
									<div class="input-group-text">Materia</div>
								</div>
								<select class="form-control" th:field="${alumnoxmateria.materia.codigo}" id="selectMaterias">
									<option th:each="m: ${materias}" th:value="${m.codigo}" th:estado="${m.estado}">
										<th th:text="${m.nombreMateria}"></th>
									</option>
								</select>
							</div>
							<div class="input-group mb-2 hidden" >
								<div class="input-group-prepend w-25">
									<div class="input-group-text">Codigo</div>
								</div>
								<select th:field="${alumnoxmateria.expediente.codigo}">
									<option th:each="c: ${expedientes}" th:value="${c.codigo}">
										<th th:text="${c.codigo}"></th>
									</option>
								</select>
							</div>
						<div class="form-group">
							<div class="input-group mb-2">
								<div class="input-group-prepend w-25">
									<div class="input-group-text">Nota</div>
								</div>
								<input class="form-control" th:field="${alumnoxmateria.nota}" type="text" >
							</div>
							<span th:errors="${alumnoxmateria.nota}" class="text-white errorText"></span>
						</div>
						<div class="form-group">
								<div class="input-group mb-2">
									<div class="input-group-prepend w-25">
										<div class="input-group-text">Año</div>
									</div>
									<input class="form-control" th:field="${alumnoxmateria.annio}" value="2005" type="number" >
								</div>
								<span th:errors="${alumnoxmateria.annio}" class="text-white errorText"></span>				
							</div>
							<div class="input-group mb-4">
								<div class="input-group-prepend w-50 h-50">
									<div class="input-group-text">Ciclo</div>
								</div>
								<select  class="form-control input-lg" name="ciclo">
									<option th:value="1" th:text="01"></option>
									<option th:value="2" th:text="02"></option>
									<option th:value="3" th:text="03"></option>
								</select>
							</div>
							<input type="submit" value="Guardar"  class="btn btn-danger form-control">
		
						</form>
					</div>
				</div>
			</div>
			<div class="col"></div>
		</div>
		<div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content w-50 h-50">
				<span class="close end">&times;</span>
				<h4 class="mb-4 font-white">Guardado con exito!</h4>
				<div class="container w-75 p-4 mt-4">
					<a href="/userInfo" class="btn btn-success form-control text-white w-100 mb-3">Ver todos los
						expedientes <i class="fa fa-user"></i></a>
					</button>
					<form class="form-horizontal w-100" th:action="@{/cursadas}" th:object="${alumnoxmateria}"
						method="post">
						<input type="hidden" name="id" th:value="${alumnoxmateria.expediente.codigo}" />
						<button type="submit" class="btn btn-primary form-control text-white w-100 mb-3"> Ver Materias <i
								class="fas fa-info-circle"></i></button>
					</form>
					
				</div>
			</div>
</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
	var modal = document.getElementById("myModal");
	var btn = document.getElementById("myBtn");
	var span = document.getElementsByClassName("close")[0];

	modal.style.display = "block";

	span.onclick = function () {
		modal.style.display = "none";
	}

	window.onclick = function (event) {
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}

		var materias = document.getElementById('selectMaterias');
		var materiasList = [];

		for(var i = 0; i<materias.childElementCount; i++){
			var listaAux = [];
			listaAux.push(materias.options[i].value);
			listaAux.push(materias.options[i].getAttribute("estado"));
			listaAux.push(materias.options[i].text);
			materiasList.push(listaAux);
		}

		var materiasFiltradas = listaFiltrada("Activa", materiasList);
		rebuildSelect(materiasFiltradas);

		function listaFiltrada (value, data){
			var filtraData = []
			for( var i = 0; i<data.length; i++){
				if(value == data[i][1]){
					filtraData.push(data[i]);
				}
			}
			return filtraData;
		}

		function rebuildSelect(data){
			var select = document.getElementById('selectMaterias');
			select.innerHTML= '';
			for( var i = 0; i<data.length; i++){
				var option = `
						<option  value="${data[i][0]}" estado="${data[i][1]}">${data[i][2]}</option>
				`
				select.innerHTML += option;
			}
		}

	</script>

</body>
</html>