<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>Nuevo expediente</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/main.css}">
</head>
<body>
	<div class="barMenu">
     	<div class="barMenuHead">
     		<a class="buttonMenu" href="/userInfo">Nazarick</a>
     	</div>
     	<div class="barMenuElements">
     		<a class="buttonMenu" href="NuevoExpediente">Crear expediente</a>
     		<a class="buttonMenu" href="logout">Salir</a>
     	</div>
     </div> 
<h1 th:text="${message}"></h1>
<form method="post" th:action="@{/guardarExpediente}" th:object="${expediente}">
		<h1>Nuevo Expediente</h1>
		
		<h3>Nombre: 
			<input type="text" id="s_nombre" th:field="${expediente.s_nombre}" ></h3>
		<span th:errors="${expediente.s_nombre}" style="color:red;"></span>
		<br>
					
		<h3>Apellido: 
			<input type="text" id="s_apellido" th:field="${expediente.s_apellido}" ></h3>
			<span th:errors="${expediente.s_apellido}" style="color:red;"></span>
		<br>
			
		<h3>Carnet de Minoridad: <input type="text" id="s_carne" th:field="${expediente.s_carne}" ></h3>
					<span th:errors="${expediente.s_carne}" style="color:red;"></span><br>
		
		<h3>Fecha nacimiento:<input id="d_fnacimiento" type="date" th:field="${expediente.d_fnacimiento}" > </h3>
					<span th:errors="${expediente.d_fnacimiento}" style="color:red;"></span><br>
		
		<h3>Edad: </h3>
		
		<h3>Direccion de vivienda: 
			<input type="text" id="s_direccion" th:field="${expediente.s_direccion}" ></h3>
					<span th:errors="${expediente.s_direccion}" style="color:red;"></span><br>
		
		<h3>Telefono fijo:
			 <input type="text" id="s_telefonof" th:field="${expediente.s_telefonof}" ></h3>
					<span th:errors="${expediente.s_telefonof}" style="color:red;"></span><br>
		
		<h3>Telefono Movil: <input type="text" id="s_telefonom" th:field="${expediente.s_telefonom}" ></h3>
					<span th:errors="${expediente.s_telefonom}" style="color:red;"></span><br>
					
		<h3>Nombre Institucion: <input type="text" id="institucion" th:field="${expediente.s_institucion}" ></h3>			
		<span th:errors="${expediente.s_institucion}" style="color:red;"></span><br>
		
		<h3>Nombre padre: <input type="text" id="nombrePadre" th:field="${expediente.s_nombrePadre}" ></h3>
					<span th:errors="${expediente.s_nombrePadre}" style="color:red;"></span><br>
		
		<h3>Nombre madre: <input type="text" id="nombreMadre" th:field="${expediente.s_nombreMadre}" ></h3>
					<span th:errors="${expediente.s_nombreMadre}" style="color:red;"></span><br>
	
		<input type="submit" value="Guardar">
		
	</form>	
</body>
</html>