<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Agregar materia</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>
	<th:block th:include="/menucoordinador"></th:block>
	<div class="container">
		<h1 th:text="${mensaje}"></h1>
		<div class="container row m-4 p-3">
			<div class="col"></div>
			<div class="col-4 card p-3">
				<form method="post" th:action="@{/guardarExpedientemateria}" th:object="${alumnoxmateria}">
					<div class="input-group mb-2">
						<div class="input-group-prepend w-25">
							<div class="input-group-text">Materia</div>
						</div>
						<select class="form-control" th:field="${alumnoxmateria.materia.codigo}">
							<option th:each="c: ${materias}" th:value="${c.codigo}">
								<th th:text="${c.nombreMateria}"></th>
							</option>
						</select>
					</div>

					<div class="input-group mb-2 hidden" >
						<div class="input-group-prepend w-25">
							<div class="input-group-text">Codigo</div>
						</div>
						<select th:field="${alumnoxmateria.expediente.codigo}">
							<option th:each="c: ${expedientes}" th:value="${c.codigo}">
								<th th:text="${c.codigo}"></th>
							</option>
						</select>
					</div>

					<div class="input-group mb-2">
						<div class="input-group-prepend w-25">
							<div class="input-group-text">Nota</div>
						</div>
						<input class="form-control" th:field="${alumnoxmateria.nota}" type="text" name="materia" placeholder="Nota">
						<span th:errors="${alumnoxmateria.nota}" style="color:red;"></span>
					</div>
					<div class="input-group mb-2">
						<div class="input-group-prepend w-25">
							<div class="input-group-text">Annio</div>
						</div>
						<input class="form-control" th:field="${alumnoxmateria.annio}" type="number" >
						<span th:errors="${alumnoxmateria.annio}" style="color:red;"></span>
					</div>
					<div class="input-group mb-4">
						<div class="input-group-prepend w-25">
							<div class="input-group-text">Ciclo</div>
						</div>
						<select th:field="${alumnoxmateria.ciclo}" class="form-control input-lg " name="ciclo" id="ciclo">
							<option th:value="01" th:text="01"></option>
							<option th:value="02" th:text="02"></option>
							<option th:value="03" th:text="03"></option>
						</select>
						<span th:errors="${alumnoxmateria.ciclo}" style="color:red;"></span>
					</div>
					<input type="submit" value="Guardar"  class="btn btn-danger form-control">

				</form>
			</div>
			<div class="col"></div>
			<tbody:block th:each="e, row: ${expedientes}">
			<form class="form-inline center" th:action="@{/cursadas}" th:method="post">
				<input type="hidden" name="id" th:value="${e.codigo}" />
				<button type="submit" class="btn btn-danger"><i class="fas fa-plus"></i></button>
			</form>
			</tbody:block>
		</div>
	</div>	
</body>
</html>