<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Agregar materia</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/userInfo">Tempest</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/userInfo">Inicio <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/NuevoExpediente">Crear expediente</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">Salir</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="container row m-4 p-3">
			<div class="col"></div>
			<div class="col-4 card p-3">
				<form method="post" th:action="@{/guardarExpedientemateria}" th:object="${alumnoxmateria}">
					<div class="input-group mb-2">
						<div class="input-group-prepend w-25">
							<div class="input-group-text">Materia</div>
						</div>
						<select class="form-control" th:field="${alumnoxmateria.materia.codigo}">
							<option th:each="c: ${materias}" th:value="${c.codigo}">
								<th th:text="${c.nombreMateria}"></th>
							</option>
						</select>
					</div>
		
					<div class="input-group mb-2 hidden" >
						<div class="input-group-prepend w-25">
							<div class="input-group-text">Codigo</div>
						</div>
						<select th:field="${alumnoxmateria.expediente.codigo}">
							<option th:each="c: ${expedientes}" th:value="${c.codigo}">
								<th th:text="${c.codigo}"></th>
							</option>
						</select>
					</div>
		
					<div class="input-group mb-2">
						<div class="input-group-prepend w-25">
							<div class="input-group-text">Nota</div>
						</div>
						<input class="form-control" th:field="${alumnoxmateria.nota}" type="text" name="materia" placeholder="Nota">
						<span th:errors="${alumnoxmateria.nota}" style="color:red;"></span>
					</div>
					<input type="submit" value="Guardar"  class="btn btn-danger form-control">
		
				</form>
			</div>
			<div class="col"></div>
		</div>
	</div>	
</body>
</html>