<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Coordinador</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{/css/main.css}">
</head>

<body>
	<th:block th:include="/menucoordinador"></th:block>
	<div class="container-fluid">
		<div class="container card bg-dark p-3 mt-4" style="min-height: 80vh;">
			<div class="container-fluid p-3">
				<form class="form-horizontal" th:action="@{/buscarexpediente}" th:method="post">
					<div class="form-group">
						<label class="lead white" for="tipo"> Buscar por </label>
						<select class="form-control input-lg" name="tipo" id="tipo">
							<option th:value="1" th:text="Nombre"></option>
							<option th:value="2" th:text="Apellido"></option>
						</select>
					</div>
					<div class="form-group">
						<input class="form-control" type="text" id="busqueda" name="busqueda"
							placeholder="Palabra a buscar">
					</div>
					<input class="btn btn-success" type="submit" value="Buscar" />
					<input class="btn btn-success" type="button" value="ver todo"
						onclick="location.href='./userInfo'" />
				</form>
			</div>

			<div class="container-fluid p-3">
				<table class="table table-sm table-dark table-hover table-condensed">
					<thead>
						<th scope="col">Codigo</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellido</th>
						<th scope="col">Carnet</th>
						<th scope="col">Institucion</th>
						<th scope="col">Edad</th>
						<th scope="col">Telefono</th>
						<th scope="col">Promedio</th>
						<th scope="col">Aprobadas</th>
						<th scope="col">Reprobadas</th>
						<th scope="col">Opciones</th>
					</thead>

					<tbody:block th:each="e, row: ${expedientes}">
						<tr>
							<td th:text="${e.codigo}" name="codigo" th:value="${e.codigo}" />
							<td th:text="${e.s_nombre}" />
							<td th:text="${e.s_apellido}" />
							<td th:text="${e.s_carne}" />
							<td th:text="${e.s_institucion}" />
							<td th:text="${e.s_edad}" />
							<td th:text="${e.s_telefonom}" />
							<td th:text="${e.promedio}" />
							<td th:text="${e.aprobadas}" />
							<td th:text="${e.reprobadas}" />
							<td class="space-between">
								<form class="form-inline center" th:action="@{/expediente}" th:method="post">
									<input type="hidden" name="id" th:value="${e.codigo}" />
									<button type="submit" class="btn btn-primary"><i class="fas fa-info-circle"></i></button>
								</form>
								<form class="form-inline center" th:action="@{/cursadas}" th:method="post">
									<input type="hidden" name="id" th:value="${e.codigo}" />
									<button type="submit" class="btn btn-danger"><i class="fas fa-plus"></i></button>
								</form>
							</td>
						</tr>
					</tbody:block>
				</table>
			</div>
		</div>
	</div>

</body>

</html>