<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">

<head>
	<title>Coordinador</title>
	<th:block th:include="/header"></th:block>
</head>

<body>
	<th:block th:include="/menucoordinador"></th:block>
	<h1 th:text="${mensaje}" style="color: white"></h1>
	<div class="container-fluid">
		<div class="container card bg-dark p-3 mt-4" style="min-height: 80vh;">
			<div class="container-fluid p-3">
				<form class="form-horizontal" th:action="@{/buscarexpediente}" th:method="post">
					<div class="form-group">
						<label class="lead white" for="tipo"> Buscar por </label>
						<select class="form-control input-lg" name="tipo" id="tipo">
							<option th:value="1" th:text="General"></option>
							<option th:value="2" th:text="Nombre"></option>
							<option th:value="3" th:text="Apellido"></option>
							<option th:value="4" th:text="Carnet"></option>
						</select>
					</div>
					<div class="form-group">
						<input class="form-control" type="text" id="busqueda" name="busqueda"
							placeholder="Palabra a buscar">
					</div>
					<div class="flex mt-3 mb-3">
						<input class="btn btn-primary form-control col-3 mr-2" type="submit" value="Buscar" />
						<a class="btn btn-primary form-control col-3 mr-2" href="/userInfo"> Mostrar todo </a>
						<a class="btn btn-success form-control col"  href="/NuevoExpediente">Crear nuevo expediente <i class="fas fa-plus"></i></a>
					</div>
				</form>
			</div>

			<div class="container-fluid p-3">
				<table class="table table-sm table-dark table-hover table-condensed" id="tableExpediente">
					<thead>
						<th scope="col">Codigo</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellido</th>
						<th scope="col">Carnet</th>
						<th scope="col">Institucion</th>
						<th scope="col">Promedio</th>
						<th scope="col">Aprobadas</th>
						<th scope="col">Reprobadas</th>
						<th scope="col">Opciones</th>
					</thead>

					<tbody:block th:each="e, row: ${expedientes}" id="tableInfo">
						<tr>
							<td th:text="${e.codigo}" name="codigo" th:value="${e.codigo}" />
							<td th:text="${e.s_nombre}" />
							<td th:text="${e.s_apellido}" />
							<td th:text="${e.s_carne}" />
							<td th:text="${e.institucion.nombre}" />
							<td th:text="${e.promedio}" />
							<td th:text="${e.aprobadas}" />
							<td th:text="${e.reprobadas}" />
							<td class="space-between p-2">
								<form class="form-inline center" th:action="@{/expediente}" th:method="post">
									<input type="hidden" name="id" th:value="${e.codigo}" />
									<button type="submit" class="btn btn-primary"><i class="fas fa-info-circle"></i></button>
								</form>
								<form class="form-inline center" th:action="@{/cursadas}"  th:method="post">
									<input type="hidden" name="id" th:value="${e.codigo}" />
									<button type="submit" class="btn btn-danger"><i class="fas fa-plus"></i></button>
								</form>
							</td>
						</tr>
					</tbody:block>
				</table>
			</div>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
	
		

		var dataTable = document.getElementById('tableExpediente');
		var datos = [];
		var value;
		var tbody = dataTable.children[1]; 
		for(var i = 0; i< tbody.childElementCount; i++){
			var listaAux = [];
			listaAux.push(tbody.children[i].children[0].innerText);
			listaAux.push(tbody.children[i].children[1].innerText);
			listaAux.push(tbody.children[i].children[2].innerText);
			listaAux.push(tbody.children[i].children[3].innerText);
			listaAux.push(tbody.children[i].children[4].innerText);
			listaAux.push(tbody.children[i].children[5].innerText);
			listaAux.push(tbody.children[i].children[6].innerText);
			listaAux.push(tbody.children[i].children[7].innerText);
			datos.push(listaAux);
		}

		var tipoValue = document.getElementById('tipo')

		tipoValue.onchange = function busqueda(){
			var value = $('#busqueda').val();
			var tipoValue = document.getElementById('tipo').value;
			var filterData = FilterTable(value, datos, tipoValue);
			rebuildTable(filterData);
		}

		$('#busqueda').on('keyup',function(){
			value = $(this).val();
			var tipoValue = document.getElementById('tipo').value;
			var filterData = FilterTable(value, datos, tipoValue);
			rebuildTable(filterData);
		})

		function FilterTable(value,data,tipo){
			var filterData = [];
			for( var i = 0; i<data.length; i++){
				var valueLower = value.toLowerCase();
				var fname = data[i][1].toLowerCase();
				var lname = data[i][2].toLowerCase();
				var carnet = data[i][3].toLowerCase();
				var centro = data[i][4].toLowerCase();
				if(tipo == 1){
					if(fname.includes(valueLower) || lname.includes(valueLower) || carnet.includes(valueLower) || centro.includes(valueLower)){
						filterData.push(data[i]);
					}
				}
				if(tipo == 2){
					if(fname.includes(valueLower)){
						filterData.push(data[i]);
					}
				}
				if(tipo == 3){
					if(lname.includes(valueLower)){
						filterData.push(data[i]);
					}
				}
				if(tipo == 4){
					if(carnet.includes(valueLower)){
						filterData.push(data[i]);
					}
				}
			}
			return filterData;
		}

		function rebuildTable (data){
			var table = document.getElementById('tableExpediente');
			table.innerHTML = `
						<thead>
							<th scope="col">Codigo</th>
							<th scope="col">Nombre</th>
							<th scope="col">Apellido</th>
							<th scope="col">Carnet</th>
							<th scope="col">Institucion</th>
							<th scope="col">Promedio</th>
							<th scope="col">Aprobadas</th>
							<th scope="col">Reprobadas</th>
							<th scope="col">Opciones</th>
						</thead>`

			for( var i = 0; i<data.length; i++){
				var row = `<tr>
							<td name="codigo" value="${data[i][0]}">${data[i][0]}</td>
								<td>${data[i][1]}</td>
								<td>${data[i][2]}</td>
								<td>${data[i][3]}</td>
								<td>${data[i][4]}</td>
								<td>${data[i][5]}</td>
								<td>${data[i][6]}</td>
								<td>${data[i][7]}</td>
							<td class="space-between">
								<form class="form-inline center" action="expediente" method="post">
									<input type="hidden" name="id" value="${data[i][0]}"/>
									<button type="submit" class="btn btn-primary"><i class="fas fa-info-circle"></i></button>
								</form>
								<form class="form-inline center" action="cursadas" method="post">
									<input type="hidden" name="id" value="${data[i][0]}"/>
									<button type="submit" class="btn btn-danger"><i class="fas fa-plus"></i></button>
								</form>
							</td>
						</tr>`
					table.innerHTML += row
			}
		}

	</script>

</body>

</html>