<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 		<title>Coordinador</title>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
	    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/main.css}">
</head>
<body>
	<div class="barMenu">
     	<div class="barMenuHead">
     		<a class="buttonMenu" href="/userInfo">Nazarick</a>
     	</div>
     	<div class="barMenuElements">
     		<a class="buttonMenu" href="NuevoExpediente">Crear expediente</a>
     		<a class="buttonMenu" href="logout">Salir</a>
     	</div>
    </div>
	<h1>Buscar Expediente</h1>
	<h3>Buscar alumno</h3>
	<select >
		<option><th></th></option>
	</select>
	<h3>Valor de busqueda</h3>
	<form  th:action="@{/buscarexpediente}" th:method="post">
		<select name="tipo">
			  	<option th:value="1" th:text ="Nombre"></option>
				<option th:value="2"th:text ="Apellido"></option>
		</select>
		<input	type="text" name="busqueda">
		<input type="submit" value="Buscar" />
		<input type="button" value="ver todo" onclick="location.href='./userInfo'" />
	</form>
	
	
	<div class="wrap-contact100">
		<table class="table table-sm table-dark">
			<thead>
				<th scope="col">Accion</th>
				<th scope="col">Accion</th>
				<th scope="col">Codigo</th>
				<th scope="col">Nombre</th>
				<th scope="col">Apellido</th>
				<th scope="col">Carnet</th>
				<th scope="col">Institucion</th>
				<th scope="col">Edad</th>
				<th scope="col">Telefono</th>
			</thead>

				<th:block th:each="e, row: ${expedientes}">
					<tr>
						<td>
							<form  th:action="@{/editarexpedienteborrar}" th:method="post">
								<input type="hidden" name="id" th:value="${e.codigo}"/>
								<button type="submit" class="btn btn-danger">Eliminar <i class="fa fa-trash"></i>
								</button>
							</form></td>
						<td>
							<form  th:action="@{/editarexpedienteeditar}" th:method="post">
								<input type="hidden" name="id" th:value="${e.codigo}"/>
								<button type="submit" class="btn btn-danger">Editar <i class="fa fa-edit"></i>
								</button>
							</form></td>
						<td th:text="${e.codigo}" name="codigo" th:value="${e.codigo}"  />
						<td th:text="${e.s_nombre}"/>
						<td th:text="${e.s_apellido}"/>
						<td th:text="${e.s_carne}"/>
						<td th:text="${e.s_institucion}"/>
						<td th:text="${e.s_edad}"/>
						<td th:text="${e.s_telefonom}"/>

					</tr>
				</th:block>


		</table>
	</div>
			
</body>
</html>