<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Expediente</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{/css/main.css}">
</head>

<body th:object="${expediente}">
    <th:block th:include="/menucoordinador"></th:block>
    <div class="container">
        <div class="container row m-4 p-3">
            <div class="col"></div>
            <div class="col-8">
                <div class="card">
                    <h5 class="card-header" th:text="${expediente.s_nombre} + ' ' + ${ expediente.s_apellido}"></h5>
                    <div class="card-body">
                        <div class="row p-3">
                            <div class="col">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend w-35">
                                        <div class="input-group-text">Carnet</div>
                                    </div>
                                    <p class="form-control" th:text="${expediente.s_carne}"></p>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend w-35">
                                        <div class="input-group-text">Edad</div>
                                    </div>
                                    <p class="form-control" th:text="${expediente.s_edad}"></p>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend w-35">
                                        <div class="input-group-text">Telefono</div>
                                    </div>
                                    <p class="form-control" th:text="${expediente.s_telefonom}"></p>
                                </div>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend w-35">
                                        <div class="input-group-text">Institucion</div>
                                    </div>
                                    <p class="form-control" th:text="${expediente.s_institucion}"></p>
                                </div>
                            </div>
                            <div class="col card centerPic">
                                <img class="card-img-top w-50" src="static/img/user.png" th:src="@{/img/user.png}"
                                    alt="Profile picture">
                            </div>
                        </div>
                        <div class="m-2 p-3">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend w-35">
                                    <div class="input-group-text">Fecha de nacimiento</div>
                                </div>
                                <p class="form-control" th:text="${expediente.d_fnacimiento}"></p>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend w-35">
                                    <div class="input-group-text">Direccion</div>
                                </div>
                                <p class="form-control" th:text="${expediente.s_direccion}"></p>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend w-35">
                                    <div class="input-group-text">Telefono fijo</div>
                                </div>
                                <p class="form-control" th:text="${expediente.s_telefonof}"></p>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend w-35">
                                    <div class="input-group-text">Nombre del padre</div>
                                </div>
                                <p class="form-control" th:text="${expediente.s_nombrePadre}"></p>
                            </div>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend w-35">
                                    <div class="input-group-text">Nombre de la madre</div>
                                </div>
                                <p class="form-control" th:text="${expediente.s_nombreMadre}"></p>
                            </div>
                        </div>
                        <div class="container flex">
                            <form class="col" th:action="@{/editarexpedienteborrar}" th:method="post">
                                <input type="hidden" name="id" th:value="${expediente.codigo}" />
                                <button type="submit" class="btn btn-danger form-control">Eliminar <i
                                        class="fa fa-trash"></i>
                                </button>
                            </form>
                            <form class="col" th:action="@{/editarexpedienteeditar}" th:method="post">
                                <input type="hidden" name="id" th:value="${expediente.codigo}" />
                                <button type="submit" class="btn btn-success form-control">Editar <i
                                        class="fa fa-edit"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</body>

</html>