<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo expediente</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
    <div class="barMenu">
        <div class="barMenuHead">
            <a class="buttonMenu" href="/userInfo">Nazarick</a>
        </div>
        <div class="barMenuElements">
            <a class="buttonMenu" href="nuevaMateria">Crear Materia</a>
            <a class="buttonMenu" href="logout">Salir</a>
        </div>
        <form  th:action="@{/nuevaMateriaexpediente}" th:method="post">
            <input type="hidden" name="codigo" th:value="${expediente.codigo}"/>
            <button type="submit" class="btn btn-danger">Materias <i class="fa fa-edit"></i>
            </button>
        </form>
    </div>
    <table class="table table-sm table-dark">
        <thead>
            <th scope="col">Codigo</th>
            <th scope="col">Materia</th>
            <th scope="col">Nota</th>
            <th scope="col">Estado</th>
        </thead>
        <th:block th:each="e, row: ${alumnoxmaterias}">
<!--            <tr>-->
<!--                <td th:text="${e.codigoMateria}" name="codigo" th:value="${e.codigoMateria}"  />-->
<!--                <td th:text="${e.nombreMateria}"/>-->
<!--                <td th:text="${e.nota}"/>-->
<!--                <td th:text="${e.estado}"/>-->
<!--            </tr>-->
        </th:block>
    </table>
</body>
</html>